{% extends 'base2.html' %}
{% block content %}
{% load static %}

 <div class="wrapper">
  <div class="text-center mt-4 name">
  <h2>Password Reset</h2>
  </div><br><br><br>

  <form method="post">
   {% csrf_token %}
   <div class="form-field d-flex align-items-center">
    <span class="far fa-user" style="padding-left: 17px; font-size: 17px;"></span>
   
    <input type="text" name="hr_employ_id" id="hr_employ_id" placeholder="Employee Id">
   </div>
   <div class="form-field d-flex align-items-center">
    <span class="fas fa-key" style="padding-left: 17px; font-size: 17px;"></span>
    <input type="new_password" name="new_password" id="pwd" placeholder="new_password">
   </div>

   <div class="form-field d-flex align-items-center">
    <span class="fas fa-key" style="padding-left: 17px; font-size: 17px;"></span>
    <input type="confirm_new_password" name="confirm_new_password" id="pwd" placeholder="confirm_new_password">
   </div>
   
   <button type="submit" class="btn mt-3">Reset Password</button>
  </form>
  <div class="text-center fs-6">

  </div>
 </div>

{% endblock %}