{% extends 'base2.html' %}
{% block content %}
{% load static %}

<div class="wrapper">
 
<h3 class="text-center py-3"><b>HR Registration Form</b></h3>
    

  
  <form method="post" action="{% url 'hr_registration' %}" class="p-3 mt-3" enctype="multipart/form-data">
    {% csrf_token %}
    {% for message in messages %}
    <div class="alert alert-danger {{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <div class="form-field d-flex align-items-center">
      <span class="fa fa-user" style="padding-left: 17px; font-size: 17px;"></span>
      <input type="text" name="hr_name" id="hr_name" placeholder="HR Name">
    </div>

    <div class="form-field d-flex align-items-center">
      <span class="fa fa-user" style="padding-left: 17px; font-size: 17px;"></span>
      <input type="text" name="hr_employ_id" id="hr_employ_id" placeholder="Employee Id">
    </div>


    <div class="form-field d-flex align-items-center">
      <span class="fa fa-phone" style="padding-left: 17px; font-size: 17px;"></span>
      <input type="text" name="phone_number" id="phone_number" placeholder="Phone Number">
    </div>

    <div class="form-field d-flex align-items-center">
      <span class="fa fa-envelope" style="padding-left: 17px; font-size: 17px;"></span>
      <input type="text" name="email" id="email" placeholder="example@gmail.com">
    </div>

    <div class="form-field d-flex align-items-center">
      <span class="fa fa-key" style="padding-left: 17px; font-size: 17px;"></span>
      <input type="password" name="password" id="pwd" placeholder="Password">
    </div>

    <div class="form-field d-flex align-items-center">
      <span class="fa fa-file-image" style="padding-left: 17px; font-size: 17px;"></span>
      <input type="file" class="form-control p-2" name="image" id="file" aria-describedby="emailHelp">
    </div>

    <button type="submit" class="btn mt-3">Sign Up</button>
  </form>
  <div class="text-center fs-6">
    <a href="#">You have a an Account</a> or <a href="{% url 'hr_login' %}">Login</a>
  </div>
</div>
{% endblock content %}